PORT=3000

# =======================================================
# CONFIGURACIÓN DE BASE DE DATOS (MYSQL / AIVEN CLOUD)
# =======================================================
DB_HOST=mysql-238bbed-vincula.a.aivencloud.com
DB_USER=avnadmin
DB_PASSWORD=TU_DB_PASSWORD_AIVEN
DB_NAME=defaultdb
DB_PORT=12796

JWT_SECRET=negocios_secreto_largo_camara_jipijapa
JWT_EXPIRES_IN=8h

# =======================================================
# SERVICIO DE IMÁGENES (CLOUDINARY)
# =======================================================
CLOUDINARY_CLOUD_NAME=TU_CLOUDINARY_CLOUD_NAME_OFICIAL
CLOUDINARY_API_KEY=TU_CLOUDINARY_API_KEY_OFICIAL
CLOUDINARY_API_SECRET=TU_CLOUDINARY_API_SECRET_OFICIAL

# =======================================================
# CORREOS TRANSACCIONALES (BREVO / SIB)
# =======================================================
BREVO_API_KEY=TU_BREVO_API_KEY_OFICIAL

# =======================================================
# URL PÚBLICA DEL FRONTEND
# =======================================================
FRONTEND_URL=https://c-comercio.netlify.app

# =======================================================
# PASARELA DE PAGOS (PAYPHONE DEL CLIENTE)
# =======================================================
PAYPHONE_TOKEN=TU_PAYPHONE_TOKEN_OFICIAL

# =======================================================
# ASISTENTE IA (GOOGLE GEMINI API)
# =======================================================
GEMINI_API_KEY=TU_GEMINI_API_KEY_OFICIAL
